node_modules/
dist/
build/
.env
.DS_Store
.idea/
.vscode/
/.gradle/
/.gradle/**
/.cache/
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
coverage/
/.turbo/
/.parcel-cache/
/.next/
/.expo/
public/build/
/.firebase/
*.tgz
package-lock.json
pnpm-lock.yaml
yarn.lock